
@{
    ViewData["Title"] = "ProSell_PowerBI_show";
    Layout = "~/Views/Shared/_Back_Layout_Sneat.cshtml";
}

@**@

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Product /</span>商品銷售分析</h4>


    <div class="row">
        <iframe title="Report Section" width="600" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYWNjNTVjYjEtZDdlNy00YjBkLTgwOTAtZGZmNDAxMTkwYjkwIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
        