@{
    ViewData["Title"] = "RePassword";
}
@section Style{
    <style>
        #resetPassword input{
            width:70%;
            border:2px solid lightgray;
            border-radius: 15px;
            text-align:center;
            transition: all 0.3s;
        }
        #resetPassword botton{
            display:block;
            width:70%;
            border:2px solid lightgray;
            border-radius: 15px;
            margin:0 auto;
            background-color:lightgray;
            transition:all 0.3s;
        }
        #resetPassword botton:hover{
                background-color: gray;
                border: 2px solid gray;
                color:white;
        }
    </style>
}

<div style="justify-content:center;min-height:60vh;display:flex" id="resetPassword">
    <div style="margin:auto;height:30%;width:30%;text-align:center" text-align:center;">
        <h3 style="margin:5% 10%;">重設密碼</h3>
        <input type="hidden" value="@ViewBag.Email" id="account" />
        <input type="password" id="newPassword" />
        <p id="passwordformat"></p>
        <input type="password" id="dblnewPassword" />
        <p id="check"></p>
        <botton id="ok">確認</botton>
    </div>
</div>

@section Scripts{
    <script>
        let click = [false, false];
        let newPassword = $(`#newPassword`);
        let dblnewPassword = $(`#dblnewPassword`);
        let check = $(`#check`);
        $(`#ok`).on(`click`, function () {
            if (click[0] && click[1])
                $.post("@Url.Content("~/Login/ResetPassword")", { "Email": $(`#account`).val(), "Password": newPassword.val() }, function (data) {
                    window.location.assign("https://localhost:7100/Login/Login");
                })
        });
        dblnewPassword.on('blur', function () {
            if (dblnewPassword.val() === newPassword.val()) {
                check.text("通過");
                check.css("color", "green");
                click[1] = true;
            }
            else {
                check.text("與密碼不相符");
                check.css("color", "red");
                click[1] = false;
            }
            if (newPassword.val()==""){
                check.text("請輸入上方新密碼");
                check.css("color", "red");
            }
        });

        newPassword.on(`blur`, function () {
            let checkInput = $(this);
            let CPchar, a = [false, false, false, false];
            let special = "!#$%^&*";
            if (checkInput.val().length > 6) {
                a[3] = true;
            }
            for (let i = 0; i < checkInput.val().length; i++) {
                CPchar = checkInput.val().charAt(i).toUpperCase();
                if (CPchar >= "A" && CPchar <= "Z") {
                    a[0] = true;
                }
                if (CPchar >= "0" && CPchar <= "9") {
                    a[1] = true;
                }
                for (let j = 0; j < special.length; j++) {
                    specialchar = special.charAt(j);
                    if (CPchar == specialchar) {
                        a[2] = true;
                    }
                }
            }
            if (a[0] && a[1] && a[2] && a[3]) {
                $(`#passwordformat`).text("OK");
                $(`#passwordformat`).css("color", "green");
                click[0] = true;
            }
            else {
                $(`#passwordformat`).text("密碼要包含英、數字、特殊符號(!#$%^&*)且長度需大於6");
                $(`#passwordformat`).css("color", "red");
                click[0] = false;
            }
        });
    </script>
}
