<a asp-action="Create" asp-controller="ToDoLists">建立新表單</a>
<table class="table table-striped-columns">
    <caption>待辦事項</caption>
    <thead>
        <tr>
            <th>表單編號</th>
            <th>表單類型</th>
            <th>表單內容</th>
            <th>狀態</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ToDolist_tbody">
    </tbody>
</table>

@*<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>*@