
@{
    ViewData["Title"] = "ResetPassword";
}
@{
    Layout = null;
}

<link href="~/css/staff_login.css" rel="stylesheet" />


<form>
    @Html.AntiForgeryToken()
    <div class="box1">
        <div class="containerr">
            <div class="top">
                <header>更改密碼</header>
            </div>
            <div class="input-field">
                <input type="text" class="input" placeholder="請輸入新密碼" id="Password_F" />
            </div>
            <div class="input-field">
                <input type="text" class="input" placeholder="請再次輸入新密碼" id="Password_S" />
            </div>
            <div class="input-field">
                <botton type="submit" class="submit" id="done">送出</botton>
            </div>            
        </div>
    </div>
</form>
<input id="stf_info" type="hidden" value="@ViewBag.account"/>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>  
    var stf_info = ("#stf_info").val();
    var xhr = new XMLHttpRequest();
    xhr.addEventListener(`load`, () => {
        var result = xhr.responseText;
        if (result == "repeat") {
            $("#response").css("display", "");
            $(`#response`).html(`不可與舊密碼相同`);
        }   
        else(result == "success")
        window.location.assign(`@Url.Content("~/Staff_Home/login")`);
    });

    $(`#done`).on(`click`, function () {
        const Password_F = $(`#Password_F`).val();
        const Password_S = $(`#Password_S`).val();
        xhr.open(`post`, `@Url.Content("~/Staff_Home/SaveNewPassword")`);
        xhr.setRequestHeader(`Content-Type`, `application/x-www-form-urlencoded`);
        xhr.send(`stf_info=${stf_info}&Password_F=${Password_F}`);
    });


    
</script>