@model IEnumerable<dbCompanyTest.Models.ProductsTypeDetail>

<li class="nav-item" style="font-family:'Microsoft YaHei';margin-right: 28px;">
        <a class="nav-link " asp-area="" asp-controller="Staff_Home" asp-action="login">員工登入</a>
    </li>

    @foreach (var item in Model) {
    <li class="nav-item" style="font-family:'Microsoft YaHei';margin-right: 28px;">
            <a class="nav-link " asp-controller="ProductWall" asp-action="Index" asp-route-id="@item.商品分類id">@item.商品分類名稱</a>
        </li>
    }
<li class="nav-item" style="font-family:'Microsoft YaHei';margin-right: 28px;">
    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="threeview">3D</a>
</li>